fastapi
uvicorn[standard]
requests
PyGithub
apache-airflow-client
pydantic
jinja2
sentence-transformers
faiss-cpu
transformers
python-dotenv
openai
pydantic-settings
PyGithub
fastapi
uvicorn
openai
langchain
langserve
sentence-transformers
faiss-cpu
python-dotenv
requests
neo4j
pydantic-settings
gitpython